* {
    padding: 0;
    margin: 0;
    background-color: #F6D8AE;
    text-align: center;
}

h1 {
    height: 5rem;
    background-color: #D6D84F;
    color: rgb(18, 70, 122);
    line-height: 5rem;
}

.inside-container {
    height: 70vh;
    width: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #DA4167;
    height: 18vmin;
    width: 18vmin;
    font-size: 3rem;
}

.reset {
    height: 4rem;
    width: 6rem;
    border-radius: 1rem;
    background-color: rgb(144, 44, 144);
    color: wheat;
    font-size: 2rem;
}

.msg {
    font-size: 2rem;
    color: black;
    height: 3rem;
}

.play-again {
    margin-top: 2rem;
    height: 4rem;
    width: 10rem;
    border-radius: 1rem;
    background-color: rgb(144, 44, 144);
    color: wheat;
    font-size: 2rem;
}

.hide {
    display: none;
}